@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

body {
  background: #abd1c6;
}

main {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
main section.comment-module {
  width: 50%;
  height: auto;
  background: #fff;
  margin: 100px 0px;
  border-radius: 5px;
  padding: 50px 75px;
}
main section.comment-module ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 50px;
  margin-left: 0px;
}
main section.comment-module ul li {
  width: 100%;
  position: relative;
}
main section.comment-module ul li .comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
main section.comment-module ul li .comment .comment-img {
  width: 7%;
}
main section.comment-module ul li .comment .comment-img img {
  width: 50px;
  height: 50px;
}
main section.comment-module ul li .comment .comment-content {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
main section.comment-module ul li .comment .comment-content .comment-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
main section.comment-module ul li .comment .comment-content .comment-details .comment-name {
  text-transform: capitalize;
}
main section.comment-module ul li .comment .comment-content .comment-details .comment-log {
  color: #7a7a7a;
  font-size: 14px;
}
main section.comment-module ul li .comment .comment-content .comment-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
main section.comment-module ul li .comment .comment-content .comment-data .comment-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div img {
  cursor: pointer;
}
main section.comment-module ul li .comment .comment-content .comment-data .comment-likes > div span {
  font-weight: 600;
}
main section.comment-module ul li .comment .comment-content .comment-data .comment-reply a, main section.comment-module ul li .comment .comment-content .comment-data .comment-report a {
  color: #272727;
  font-weight: 400;
}
main section.comment-module ul li::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50px;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  width: 2px;
  height: calc(100% - 60px);
  background: #c5c5c5;
}
main section.comment-module ul li ul {
  margin-top: 35px;
  margin-left: 70px;
  width: calc(100% - 70px);
}

@media screen and (max-width: 1600px) {
  main section.comment-module {
    width: 60%;
  }
}
@media screen and (max-width: 1400px) {
  main section.comment-module {
    width: 70%;
  }
  main section.comment-module ul li .comment .comment-img {
    width: 10%;
  }
  main section.comment-module ul li .comment .comment-content {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  main section.comment-module {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  main section.comment-module {
    width: 96%;
    padding: 75px 10px;
  }
  main section.comment-module ul li .comment {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
  main section.comment-module ul li .comment .comment-img {
    width: 15%;
  }
  main section.comment-module ul li .comment .comment-img img {
    width: 40px;
    height: 40px;
  }
  main section.comment-module ul li .comment .comment-content {
    width: 85%;
  }
  main section.comment-module ul li .comment .comment-content .comment-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section.comment-module ul li .comment .comment-content .comment-data {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
  main section.comment-module ul li::before {
    top: 50px;
    left: 50px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    height: calc(100% - 60px);
  }
  main section.comment-module ul li ul {
    margin-top: 25px;
    margin-left: 50px;
    width: calc(100% - 50px);
  }
}